# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.RoR2Mods.iml
/modules.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
